
.s-search {
  background-size: cover !important;
  @include media-breakpoint-up(lg) {
    background-size: 100% auto;
  }
}
.search-inner {
  padding: 3rem 2rem;
  @include media-breakpoint-up(md) {
    padding: 4rem;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1250px;
    margin: 0 auto;
    border: 15px solid $dark;
  }
  .text-secondary {
    font-size: 18px;
    letter-spacing: 0.1rem;
    @include media-breakpoint-up(sm) {
      font-size: 20px;
    }
    @include media-breakpoint-up(md) {
      font-size: 23px;
    }
  }

  .search-letter {
    font-family: $font-light;
    padding-right: 0.9rem;
    @include media-breakpoint-up(sm) {
      padding-right: 0;
    }
  }
}
.capabilities-search-container {
  padding: 1.5rem 0 2rem 0;
  @include media-breakpoint-up(lg) {
    padding-bottom: 2.5rem;
  }
}
.capabilities-search-form-container {
  width: 100%;
  input#inputKeyword {
    width: 82%;
    display: inline-block;
    margin-right: 1rem;
    @include media-breakpoint-up(md) {
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      width: 87%;
    }
  }
  .button-container {
    display: inline-block;
  }
  button.btn-search-keyword {
    padding: 0.3rem 0.65rem 0.3rem 0.75rem;
    font-size: 17px;
    border:0;
    display: inline-block;
    margin-top: -5px;
    &:hover {
      background-color: $black;
    }
    @include media-breakpoint-up(md) {
      font-size: 19px;
    }
  }
}

.capabilities-search-form {
  display: inline-block;
  width:100%;
  @include media-breakpoint-up(lg) {
    width:75%;
  }
  @include media-breakpoint-up(xxl) {
    width:80%;
  }
}
.capabilities-search-all {
  display: block;
  padding-top: .5rem;
  text-align: left;
  .btn-link {
    font-size: 21px;
  }
    @include media-breakpoint-up(lg) {
      display: inline-block;
      padding-top: 0;
      text-align: right;
    }
}
